.moeda:hover{
    background-color: #000!important;
    color: #fff!important
}

#input:focus, #inputQuestion:focus{
    outline: none!important;
    padding-left: 5px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

@media(max-width: 767px){
    #input{
        width: 400px!important
    }
}

@media(max-width: 510px){
    #input{
        width: 300px!important
    }
}

@media(max-width: 404px){
    #input{
        width: 200px!important
    }
}

@media(max-width: 304px){
    #input{
        width: 150px!important
    }
}

.nav-link:hover{
    color: red!important;
}